               МОСКОВСКАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ
                     ОЛИМПИАДА ШКОЛЬНИКОВ
                 Профиль «Информационные технологии»
                Командный кейс № 2 «Управление столовой»


1. Условия

     Современные школы нуждаются в удобных и прозрачных
инструментах для организации питания учащихся. Использование
бумажных журналов, талонов и устаревших систем учета не позволяет
эффективно контролировать процесс, оперативно анализировать данные и
обеспечивать безопасность.

      Для решения этой задачи предлагается разработать веб-приложение
– автоматизированную информационную систему школьного питания.

Система должна:

  ● позволять учащимся авторизоваться, просматривать меню завтраков
    и обедов, оплачивать питание (разово или абонементом), указывать
    аллергены и другие пищевые особенности, оставлять отзывы;
  ● предоставлять сотрудникам столовой интерфейс для учета
    выданных блюд, контроля остатков продуктов и оформления заявок
    на закупки;
  ● обеспечивать администраторам доступ к статистике оплат и
    посещаемости, согласованию заявок на закупку и формированию
    отчетности.

Реализация веб-приложения позволит повысить эффективность работы
школьной столовой и улучшить качество обслуживания.

2. Техническое задание

Требуется разработать веб-приложение для учёта и контроля питания в
школьной столовой. Приложение должно предоставлять различные
уровни доступа для пользователей и администраторов, поддерживать
оплату питания и обратную связь.

Необходимо предусмотреть роли с уровнями доступа:

  ● ученик;
  ● повар;
              МОСКОВСКАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ
                    ОЛИМПИАДА ШКОЛЬНИКОВ
                Профиль «Информационные технологии»
               Командный кейс № 2 «Управление столовой»
  ● администратор.

Обязательная функциональность для ученика:

  ● регистрация и авторизация;
  ● просмотр меню завтраков и обедов;
  ● оплата питания (разовый платеж или абонемент);
  ● отметка о получении питания;
  ● указание пищевых аллергий и предпочтений;
  ● оставление отзывов о блюдах.

Обязательная функциональность для повара:

  ● авторизация в системе;
  ● учет выданных завтраков и обедов;
  ● контроль остатков продуктов и готовых блюд;
  ● внесение заявок на закупку продуктов.

Обязательная функциональность для администратора:

  ● авторизация в системе;
  ● просмотр статистики оплат и посещаемости;
  ● согласование заявок на закупки;
  ● формирование отчетов по питанию и затратам.

Дополнительная функциональность:

  ● модуль уведомлений для учеников и сотрудников.



3. Рекомендации к выполнению

  ● Использовать систему управления базами данных (СУБД) для
    хранения данных. Выбор СУБД не регламентируется.
  ● Рекомендуется применять клиент-серверную архитектуру.
  ● Использовать систему контроля версий для ведения проекта.
  ● Предусмотреть автоматизированную установку приложения на
    целевой машине.
              МОСКОВСКАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ
                    ОЛИМПИАДА ШКОЛЬНИКОВ
                Профиль «Информационные технологии»
               Командный кейс № 2 «Управление столовой»
  ● Уделить внимание вопросам безопасности (персональные данные и
    платежи).

4. Требования к документации

  ● Титульный лист (с указанием названия кейса и перечислением
    членов команды).
  ● Обоснование выбора языка программирования и используемых
    программных средств.
  ● Структурная и функциональная схемы программного продукта.
  ● Блок-схема работы основного алгоритма.
  ● Описание особенностей и аргументация выбранного типа СУБД.
  ● Схема базы данных.
  ● Программный код (ссылка на репозиторий), файл README должен
    включать:
       ○ краткое описание проекта;
       ○ инструкцию по установке/развертыванию;
       ○ ссылку на видеоролик.
                МОСКОВСКАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ
                      ОЛИМПИАДА ШКОЛЬНИКОВ
                  Профиль «Информационные технологии»
                 Командный кейс № 2 «Управление столовой»
5. Требования к видеоролику

  ●   Видеоролик       должен     демонстрировать       функционирование
      разработанного    программного     продукта   в     соответствии   с
      регламентом испытаний.
  ●   На видео или записи экрана необходимо продемонстрировать
      выполнение каждого испытания, описанного в регламенте, в
      соответствии с условиями.
  ●   Видео должно однозначно подтверждать авторство участников (во
      время записи ролика необходимо четко произнести название
      команды, ФИО участников, номер школы, ФИО руководителя).
  ●   Видеоролик необходимо разместить на стороннем видеохостинге
      («ВКонтакте», Rutube и др.)


6. Регламент испытаний

Испытания должны включать проверку всех функциональных требований,
в том числе:

  ●   регистрация и авторизация пользователей;
  ●   оформление оплаты учеником (разовый платеж и абонемент);
  ●   отметка учеником о получении питания;
  ●   учет выданных блюд поваром;
  ●   добавление заявки на закупку продуктов поваром;
  ●   согласование заявки администратором;
  ●   формирование отчета администратором о питании и затратах;
  ●   тестирование обработки исключительных ситуаций (например,
      повторная отметка питания учеником или отсутствие достаточного
      количества продуктов).
                 МОСКОВСКАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ
                       ОЛИМПИАДА ШКОЛЬНИКОВ
                   Профиль «Информационные технологии»
                  Командный кейс № 2 «Управление столовой»
7. Методические материалы

     Для успешного выполнения задачи рекомендуется ознакомиться с
материалами:

Веб-разработка

  ● Основы HTML, CSS, JavaScript: https://developer.mozilla.org/ru/
  ● React: https://react.dev/
  ● Vue.js: https://vuejs.org/

Бэкенд-фреймворки

  ● Node.js + Express: https://expressjs.com/
  ● Django: https://docs.djangoproject.com/
  ● Spring (Java): https://spring.io/projects/spring-boot

Базы данных

  ● MySQL: https://dev.mysql.com/doc/
  ● PostgreSQL: https://www.postgresql.org/docs/
  ● SQLite: https://www.sqlite.org/docs.html

Системы контроля версий

  ● Git: https://git-scm.com/doc
  ● GitHub Guides: https://docs.github.com/

Безопасность и работа с данными

  ● Основы работы с JWT (JSON Web Tokens): https://jwt.io/introduction
  ● OWASP Top 10 (основные угрозы безопасности веб-приложений):
    https://owasp.org/Top10/ru/

Управление проектами

  ● Git + GitHub flow: https://guides.github.com/introduction/flow/
  ● Agile и Scrum основы: https://www.scrumguides.org/
